<div class="container p-S">
  <div class="row">
    <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <hr />

      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control form-control-sm" formControlName="Name" />
        </div>

        <div class="form-group">
          <label>CNPJ</label>
          <input type="text" class="form-control form-control-sm" formControlName="CNPJ" />
        </div>

        <div class="form-group">
          <label>Nome Fantasia</label>
          <input type="text" class="form-control form-control-sm" formControlName="FantasyName" />
        </div>

        <div class="form-group">
          <label>CPF</label>
          <input type="text" class="form-control form-control-sm" formControlName="CPF" />
        </div>

        <div class="form-group">
          <label>inscriçao estadual</label>
          <input type="text" class="form-control form-control-sm" formControlName="StateIncrition" />
        </div>

        <div class="form-group">
          <label>Telefone</label>
          <input type="text" class="form-control form-control-sm" formControlName="Phone" />
        </div>

        <div class="form-group">
          <label>Telefone Fixo</label>
          <input type="text" class="form-control form-control-sm" formControlName="ResidentialPhone" />
        </div>

        <div class="form-group">
          <label>Endereço</label>
          <input type="text" class="form-control form-control-sm" formControlName="Adress" />
        </div>

        <div class="form-group">
          <label>Numero</label>
          <input type="text" class="form-control form-control-sm" formControlName="AdressNumber" />
        </div>

        <div class="form-group">
          <label>Complemento</label>
          <input type="text" class="form-control form-control-sm" formControlName="Clompement" />
        </div>

        <div class="form-group">
          <label>CEP</label>
          <input type="text" class="form-control form-control-sm" formControlName="CEP" />
        </div>

        <div class="form-group">
          <label>Bairro</label>
          <input type="text" class="form-control form-control-sm" formControlName="District" />
        </div>

        <div class="form-group">
          <label>Cidade</label>
          <input type="text" class="form-control form-control-sm" formControlName="City" />
        </div>

        <div class="form-group">
          <label>Estado</label>
          <input type="text" class="form-control form-control-sm" formControlName="State" />
        </div>

        <div class="form-group">
          <label>Pais</label>
          <input type="text" class="form-control form-control-sm" formControlName="Country" />
        </div>

        <div class="form-group">
          <label>Estatus</label>
          <input type="text" class="form-control form-control-sm" formControlName="ClienteStatus" />
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-ligth">Voltar</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
