<div class="container p-S">
  <div class="row">
    <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <hr />

      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control form-control-sm" formControlName="name" />
        </div>

        <div class="form-group">
          <label>Nome Fantasia</label>
          <input type="text" class="form-control form-control-sm" formControlName="fantasyName" />
        </div>

        <div class="form-group">
          <label>CNPJ</label>
          <input type="text" class="form-control form-control-sm" formControlName="cnpj" />
        </div>

        <div class="form-group">
          <label>CPF</label>
          <input type="text" class="form-control form-control-sm" formControlName="cpf" />
        </div>

        <div class="form-group">
          <label>inscriçao estadual</label>
          <input type="text" class="form-control form-control-sm" formControlName="stateIncrition" />
        </div>

        <div class="form-group">
          <label>Telefone</label>
          <input type="text" class="form-control form-control-sm" formControlName="phone" />
        </div>

        <div class="form-group">
          <label>Telefone Fixo</label>
          <input type="text" class="form-control form-control-sm" formControlName="residentialPhone" />
        </div>

        <div class="form-group">
          <label>Endereço</label>
          <input type="text" class="form-control form-control-sm" formControlName="adress" />
        </div>

        <div class="form-group">
          <label>Numero</label>
          <input type="text" class="form-control form-control-sm" formControlName="adressNumber" />
        </div>

        <div class="form-group">
          <label>Complemento</label>
          <input type="text" class="form-control form-control-sm" formControlName="complement" />
        </div>

        <div class="form-group">
          <label>CEP</label>
          <input type="text" class="form-control form-control-sm" formControlName="cep" />
        </div>

        <div class="form-group">
          <label>Bairro</label>
          <input type="text" class="form-control form-control-sm" formControlName="district" />
        </div>

        <div class="form-group">
          <label>Cidade</label>
          <input type="text" class="form-control form-control-sm" formControlName="city" />
        </div>

        <div class="form-group">
          <label>Estado</label>
          <input type="text" class="form-control form-control-sm" formControlName="state" />
        </div>

        <div class="form-group">
          <label>Pais</label>
          <input type="text" class="form-control form-control-sm" formControlName="country" />
        </div>

        <!-- <div class="form-group">
          <label>Estatus</label>
          <input type="text" class="form-control form-control-sm" formControlName="clientStatus" />
        </div> -->

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-ligth">Voltar</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
